.like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px 0px ;
    font-size: 40px;
    transition: transform 0.2s ease-in-out;
    position: relative;
    bottom: 315px;
  }
  .like-btn i {
    color: rgb(154, 151, 151); 
    font-size: 30px;
    transition: color 0.3s ease; 
  }
  .like-btn:hover {
    transform: scale(1.3); 
  }
  .like-btn.active i {
    color: rgb(250, 3, 44); 
  }
  